/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background:black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin:0;
  box-sizing: border-box;
}
h1 {
  text-align:center;
}
.welcome {
  height: 72px;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}
.log-reg {
  display:flex;
  justify-content:space-evenly;
}
.logbutt {
  color:#0066FF;
  text-decoration:none;
  font-family: 'Lemon', serif;
  margin-left:10px;
}
.logbutt2 {
  background:white;
  color:0066FF;
}
.nav-logo .logo {
  background-image:url("web_pic.png");
}
.nav-logo {
  height:50px;
  width:50px;
  background-image:cover;
} */
